<div class="container-fluid">
  
  <!-- NAV BAR -->
  <div class="row bg-dark" style="height: 55px;">
    <div class="col-3 text-light make-left beautify">
      KodeBook
    </div>
  </div>


  <!-- INPUT BLOCk-->
  <div class="row">
    <div class="col-3"></div>

    <!-- AT CENTER OF SCREEN-->
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Create Post
        </div>

        <div class="card-body">
          <textarea class="form-control" cols="100" rows="2" placeholder="Write something here..."></textarea>
        </div>

        <div class="card-footer">
          <a href="#" class="badge badge-pill badge-primary" style="font-size: medium">Post Text</a>

          <a href="#" class="badge badge-pill badge-info ml-1" style="font-size: medium">Post Image</a>
          <a href="#" class="badge badge-pill badge-success ml-1" style="font-size: medium">Post Video</a>
        </div>
      </div>
    </div>

    <div class="col-3"></div>
  </div>

</div>